:root {
  --ts-body: #dddddd;
  --ts-white: #ffffff;
  --ts-off-white: #f6f3fc;
  --ts-black: #000000;
  --ts-black-2: #050709;
  --ts-black3: #5c6266;
  --ts-black4: #585859;
  --ts-heading-primary: #ffffff;
  --ts-heading-secondary: #b25fff;
  --ts-theme-primary: #121212;
  --ts-theme-primary-1: #1a1a1a;
  --ts-theme-primary-2: #212121;
  --ts-theme-primary-3: #f2f2f2;
  --ts-theme-secondary: #2a1454;
  --ts-theme-accent-1: #0f0715;
  --ts-theme-accent-2: #1a1a1a;
  --ts-grey-1: #747779;
  --ts-grey-2: #d9d9d9;
  --ts-grey-3: #dddddd;
  --ts-grey-4: #22272c;
  --ts-grey-5: #636363;
  --ts-grey-6: #1b262e;
  --ts-bg: #0c1115;
  --ts-bg-2: #0e1418;
  --ts-bg-3: #10171c;
  --ts-bg-4: #151b1f;
  --ts-border: #1b2227;
  --ts-border1: #2a343c;
  --ts-fw-normal: normal;
  --ts-fw-elight: 200;
  --ts-fw-light: 300;
  --ts-fw-regular: 400;
  --ts-fw-medium: 500;
  --ts-fw-sbold: 600;
  --ts-fw-bold: 700;
  --ts-fw-ebold: 800;
  --ts-fw-black: 900;
  --ts-fz-body: 16px;
  --ts-fz-btn: 15px;
  --ts-fz-p: 18px;
  --ts-fz-h1: 65px;
  --ts-fz-h2: 45px;
  --ts-fz-h3: 30px;
  --ts-fz-h4: 24px;
  --ts-fz-h5: 22px;
  --ts-fz-h6: 18px;
  --ts-fz-sub-title: 36px;
}
